.footer{
  background-color: #0360D9;
  &__top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 80px 0;
  }
  &__desc{
    max-width: 366px;
    width: 100%;
  }
  &__title{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 33px 0;
  }
  &__text{
    color: #FFF;
    font-size: 16px;
  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease;
    @media (hover: hover){
      &:hover{
        color: #000;
      }
    }
  }
}

.footer__links-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #fff;
}
.footer__links-item{
  margin-bottom: 6px;
  &:last-child{
    margin-bottom: 0;
  }
}
.footer__address-img{
  border-radius: 10px;
}
.footer__coopyright{
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 24px 0;
}