// colors
$bg1: #E1EEFF;
$bg2: #FFFFFF;
$btn: #0360D9;
$btnHover: transparent;
$txtStrong: #163048; 
$txtStandart: #163048;
$txtHover: #FFFFFF;
$titleStrong: #0360D9;

//fonts
$primaryFont: 'IBM Plex Sans', sans-serif;